<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> exercicio 03 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>exercicio 3</h1>

    <ion-alert
      trigger="converter-valor"
      header="valor Convertido"
      message="{{tiposImc}}"
      [buttons]="alertButtons"
    ></ion-alert>

    <h2>valor em cm</h2>
    <ion-range
      class="range"
      (ionChange)="onIonChangeDois($event)"
      [ticks]="true"
      [snaps]="true"
      [min]="0"
      [max]="200"
    ></ion-range>

    <ion-label>{{valorRangeDois}}</ion-label>

    <h2>valor em kg</h2>
    <ion-range
      class="range"
      (ionChange)="onIonChange($event)"
      [ticks]="true"
      [snaps]="true"
      [min]="0"
      [max]="150"
    ></ion-range>
    <ion-label>{{valorRange}}</ion-label>

    <ion-button expand="block" id="converter-valor" (click)="verificasImc()"
      >IMc</ion-button
    >
  </div>
</ion-content>
